<html>
<head>
<link rel="stylesheet" type="text/css" media="screen" href="screen.css" />

<script type="text/javascript" src="jquery.js"></script>
<script type="text/javascript" src="myscripts.js"></script>




</head>

<body>
<a href="">Link</a>

<div class="stuff">

	<a name="top" href="#bottom">Go to bottom</a>

	<div class="buttons">
		<button>First button</button>
		<button>Second button</button>
	</div>
	
	<ol id="orderedlist">
		<li>First element</li>
		<li>Second element</li>
		<li>Third element</li>
	</ol>
	
	<ol id="orderedlist2">
		<li>First element, second list</li>
		<li>Second element, second list</li>
		<li>Third element, second list</li>
		<li>Li with child ul
			<ul>
				<li>Child One</li>
				<li>child two</li>
			</ul>
		</li>
	</ol>


</body>
</html>
